# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
*.egg-info/
build/
dist/

# Virtual environments
.venv/
env/
venv/
ENV/

# Editor / system files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest / coverage
.tox/
coverage.xml
htmlcov/
.pytest_cache/
.cache/

# Mac metadata
*.DS_Store